* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#62c0ffff, rgb(137, 237, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
