.pokedex-title {
  height: 100px;
  margin: 0 auto 1rem;
  display: block;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon :hover {
  cursor: pointer;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.825rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: whitesmoke;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.725rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.725rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

.pagination :hover {
  cursor: pointer;
  animation: pulse 0.6s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.stats {
  margin-top: 0.5rem;
  font-size: 0.625rem;
  color: #fff;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.stat-name {
  font-size: .7rem;
  width: 50px;

}

.stat-bar {
  flex: 1;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.stat-fill {
  height: 100%;
  background-color: #00ff15;
  border-radius: 3px;
  transition: width 0.4s ease;
}

.stat-value {
  width: 25px;
  text-align: right;
}